streamlit==1.34.0
requests==2.31.0
python-dotenv==1.0.1

langchain==0.1.14
langchain-core==0.1.42
langchain-community==0.0.35

chromadb==0.4.24
sentence-transformers==2.6.1
transformers==4.41.1

beautifulsoup4==4.12.3
tqdm==4.66.4
urllib3==2.2.1
